body {
    margin: 0;
    background: black;
}

main {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 32px;

    background: white;
    min-height: calc(100vh - 80px);
    box-sizing: border-box;
}