body {
    margin: 0;
    background: black;
}

.page {
    width: 80%;
    max-width: 1000px;
    margin: 40px auto;
    padding: 32px;

    background: white;
    min-height: calc(100vh - 80px);
    box-sizing: border-box;
}

main {
	margin-top: 24px;
}

nav {
    width: 100%;
	display: flex;
	flex-wrap: no-wrap;
	justify-content: center;
	gap: .4em;
}

nav a {
	flex-shrink: 1;
	white-space: nowrap;
	
	display: inline-block;
	
	margin: .4em .2em;
	padding: 0em .5em;
	
	font-size: 2em;
	border: solid 1.5px black;
	box-shadow: 5px 5px 2px grey;
	text-decoration: none;
	color: black;
	transition: transform 300ms, box-shadow 300ms;
	
}

nav a:active {
	transform: scale(1.05);
	box-shadow: 2.5px 2.5px 2px grey inset;
	color: black;
}